[*.{cs}]

// https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/

# Enable rule: Simplify name 
dotnet_diagnostic.IDE0001.severity = error

# Enable rule: Simplify member access
dotnet_diagnostic.IDE0002.severity = error

# Enable rule: Remove unnecessary cast
dotnet_diagnostic.IDE0004.severity = error

# Enable rule: Remove unnecessary using directives
dotnet_diagnostic.IDE0005.severity = error

# Enable rule: Use throw expression
dotnet_diagnostic.IDE0016.severity = error

# Enable rule: Use object initializers
dotnet_diagnostic.IDE0017.severity = error

# Enable Rule: Variable declaration can be inlined
dotnet_diagnostic.IDE0018.severity = error

# Enable Rule: Use collection initializers or expressions
dotnet_diagnostic.IDE0028.severity = error

# Enable Rule: Parentheses preferences, can be removed
dotnet_diagnostic.IDE0047.severity = error

# Enable rule: use compound statement
dotnet_diagnostic.IDE0074.severity = error

# Enable rule: use readonly
dotnet_diagnostic.IDE0044.severity = error

# Enable rule: simpler new(), new syntax
dotnet_diagnostic.IDE0090.severity = error

# Enable rule: Use collection expression for empty
dotnet_diagnostic.IDE0300 = error

# Enable rule: Use collection expression for array
dotnet_diagnostic.IDE0301 = error

# Enable rule: Use collection expression for fluent 
dotnet_diagnostic.IDE0305 = error

#===================================================

# Disable stupid rule: Use var instead of explicit type:
dotnet_diagnostic.IDE0007.severity = none
# Disable stupid rule: Use explicit type instead of var:
dotnet_diagnostic.IDE0008.severity = none

# Disable rule: Remove this or Me qualification
dotnet_diagnostic.IDE0003.severity = none
# Disable rule: Add this or Me qualification
dotnet_diagnostic.IDE0009.severity = none

# Disable rule: Add braces
dotnet_diagnostic.IDE0011.severity = none

# Disable rule: Add accessibility modifiers
dotnet_diagnostic.IDE0040.severity = none

# Enable rule: Use 'is null' check
dotnet_diagnostic.IDE0041.severity = warning

# Enable rule: Remove unnecessary parentheses, disable: Add parentheses for clarity
dotnet_diagnostic.IDE0047.severity = warning
dotnet_diagnostic.IDE0048.severity = none

# Disable rule: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

#===================================================

csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_between_query_expression_clauses = false

trim_trailing_whitespace = true
insert_final_newline = true

